[2017-05-10 14:59] dluc opened #1 "Rename `iothub-manager-dotnet` submodule"
Please rename the submodule to `iothub-manager`

[2017-08-31 18:01] ppathan opened #5 "Decide on what the frequency of the messages should be for Basic vs Enterprise"
# Type of issue

- [ ] Bug
- [ ] New feature
- [x] Improvement

# Description

After starting a Basic or Enterprise deployment, we hit the IotHubQuotaExceeded exception pretty easily. We should decide on what the frequency of messages, device count etc should be, such that the simulation and messages are meaningful for reasonable amount of time

[2017-09-08 18:00] #5 closed, assigned to timlaverty

[2017-09-11 15:22] dluc opened #6 "Add tests to ensure repo and submodules are configured"
# Type of issue
- [ ] Bug
- [ ] New feature
- [x] Improvement

# Description
Ensure that the repository is well configured:
* All expected submodules exist
* All submodules contain code (i.e. are not empty)
* The solution can be launched
* Submodules point to a tag

[2017-09-12 00:09] jillcary opened #9 "Document PCS All-Up Cost"
# Type of issue

- [ ] Bug
- [x] New feature
- [x] Improvement

# Description

Provide customers with a clear summary of the cost breakdown of PCS.
Help customers calculate and modify azure resources to meet their needs (IoTHub, DocumentDb, Storage, etc..)
Help customers understand how adding devices, telemetry frequency, and larger telemetry payloads effect cost.

[2017-09-14 06:24] dluc opened #11 "Remove temporary solution used to flag external requests"
# Type of issue
- [ ] Bug
- [ ] New feature
- [x] Enhancement

# Description
Revert https://github.com/Azure/azure-iot-pcs-remote-monitoring-dotnet/pull/10

See also https://github.com/Azure/pcs-auth-dotnet/issues/18

[2017-09-15 20:40] dluc opened #12 "Proxy returns empty body for device telemetry POST /v1/rules - unable to create rules"
# Type of issue
- [x] Bug
- [ ] New feature
- [ ] Improvement

# Description
The creation of rules fails when going through the proxy, but works when executed directly from within the VM where microservices are deployed. (Basic deployment).

### Localhost - [Success]

Run device-telemetry-java locally (depends on storage adapter)
POST with the following parameters from Postman succeeds
[code]

###

[2017-09-15 21:15] timlaverty opened #13 "Developer Guide"
# Type of issue

- [ ] Bug
- [x ] New feature
- [x ] Improvement

# Description
We need to give folks detailed instructions on common developer tasks such as:

1) How do I run the webui against services in a VM that I deployed through CLI Basic, 2) How do I replace a container in my Standard CLI install (K8, etc.), 3) How do I have CLI Basic or Standard deploy containers from my docker-hub account

[2017-09-15 23:27] #12 closed, assigned to nobody

[2017-09-21 04:29] timlaverty opened #17 "Auth failing with bad request"
# Type of issue

- [x ] Bug
- [ ] New feature
- [ ] Improvement

# Description
After logging in with a new deployment I see:

![image](https://user-images.githubusercontent.com/5084013/30678959-b68af452-9e4a-11e7-8d2e-af5cbc68b76c.png)

[2017-09-22 16:31] timlaverty opened #18 "Make the arch diagram navigable"
# Type of issue

- [ ] Bug
- [ ] New feature
- [x ] Improvement

# Description
clickable, navigable, etc. so it's easier to drive through the arch from it.  Potentially will involve moving the wiki to a folder we put under Git.

[2017-09-22 17:25] #13 closed, assigned to jillcary

[2017-09-25 16:02] hegate opened #19 "Readme file should have CLI deployment link"
# Type of issue

- [ ] Bug
- [ ] New feature
- [X] Improvement

# Description
Readme doc for both repos should have link to CLI deployment instructions.
...

[2017-09-25 21:00] #17 closed, assigned to dluc

[2017-09-26 23:43] hegate opened #20 "Include Message for Preview disclosure text that will be linked from the dashboard"
# Type of issue

- [ ] Bug
- [x] New feature
- [ ] Improvement

# Description
Just tracking it here so we don't forget to create the GitHub page to be linked. Details are in OneNote, PCSNotes, Documentation section

[2017-09-27 00:53] #1 closed, assigned to dluc

[2017-09-27 19:55] hegate opened #21 "Launch button on welcome email not working"
# Type of issue

- [X] Bug
- [ ] New feature
- [ ] Improvement

# Description
Latest version of Remote monitoring email. Launch button doesn't take me to the solution, neither in MAC or PC. Button does nothing?

I have fwd the email to Timlav.

[2017-09-27 20:09] hegate opened #22 "Total occurrences number doesn't match"
# Type of issue

- [x] Bug
- [ ] New feature
- [ ] Improvement

# Description
In system alarms, total nmber of occurrences always points to 1, and it should match the number of total alarms.

In this case, I haven't closed or ack any alarm, so it should say 52 open occurrences

![image](https://user-images.githubusercontent.com/12633955/30935273-fe7b1eec-a384-11e7-8d30-6c93260b6f22.png)

# Steps t

[2017-10-03 06:53] dluc opened #24 "Switch git submodules to use https"
# Type of issue

- [ ] Bug
- [ ] New feature
- [x] Improvement

# Description
Change submodule links to use https

[2017-10-04 05:24] #24 closed

[2017-10-11 13:52] franji opened #26 "Launch create-hub.sh for create iothub isn't working"
# Type of issue

- [x ] Bug
- [ ] New feature
- [ ] Improvement

# Description
When create-hub.sh is run, the command window is shown briefly but no Azure credentials are prompted.

# Context and Environment
* Operating System: Windows 10
* GitHub branch: master
* .NET Runtime: 4.0

[2017-10-11 14:03] franji opened #27 "Missing values for environment variables on docker-compose.yml"
# Type of issue

- [ ] Bug
- [ ] New feature
- [X] Improvement

# Description
When docker-compose is launched, although some containers do start, there are multiple errors due to missing values for environment variables.
Some of them can be guessed by looking at the error messages, but not all of them.

# Context and Environment
* Operating System: Windows 10
* GitHub branch: master
* .NET Runtime

[2017-10-18 01:51] dluc opened #29 "The solution doesn't recover from temporary AAD errors during bootstrap"
# Type of issue

- [x] Bug
- [ ] New feature
- [ ] Improvement

# Description
When AAD or the Open ID Connect provider URL is not available during the backend services bootstrap, all the microservices requiring Authorization fail to authorize future requests, until they are restarted.

When the following exception occurs:

e.g.

by design, the system should retry until AAD recovers.

[2017-10-23 21:57] hegate opened #30 "DotNet repo documentation enhancements: PM feedback"
# Type of issue

- [ ] Bug
- [ ] New feature
- [X] Improvement

# Description
Improve documentation according to One Note feedback (Github documentation gaps)

[2017-10-26 03:41] timlaverty commented on #20
this is done.

[2017-10-26 03:41] #20 closed

[2017-10-30 03:23] timlaverty commented on #22
dup of https://github.com/Azure/pcs-remote-monitoring-webui/issues/678

[2017-10-30 03:23] #22 closed

[2017-10-30 03:27] #21 closed

[2017-11-03 17:20] scout208 opened #39 ""Upgrade map key to see devices on a dynamic map" Content is Empty"
# Type of issue

- [ ] Bug
- [ ] New feature
- [x] Improvement

# Description

The section titled "Upgrade map key to see devices on a dynamic map" on the wiki under "Developer Reference Guide" - "Customization" is empty.

# Steps to reproduce

1. Go to wiki.
2. Select "Developer Reference Guide".
3. Under "Contents", select "Upgrade map key to see devices on a dynamic map".

# Expected behavior

[2017-11-03 17:21] scout208 commented on #39
Grammar

[2017-11-03 17:49] scout208 opened #40 "Can't Set Field on Create Filter"
# Type of issue

- [x] Bug
- [ ] New feature
- [ ] Improvement

# Description

Following the instructions from [Operate the Preconfigured Solution - Update Device Firmware](https://docs.microsoft.com/en-us/azure/iot-suite/iot-suite-remote-monitoring-explore#update-device-firmware), in the part where it tells how to create a filter, I noticed that I can't set the Field properly because it won't sav

[2017-11-03 17:54] scout208 commented on #40
Maybe it was just a bug due to something in my system. It works fine for me now.

[2017-11-03 17:54] #40 closed

[2017-11-03 18:12] scout208 opened #41 "Updating Simulated Device Firmware Doesn't Update Firmware Version"
# Type of issue

- [x] Bug
- [ ] New feature
- [ ] Improvement

# Description

Following the instructions on [Operate the preconfigured solution - Update device firmware](https://docs.microsoft.com/en-us/azure/iot-suite/iot-suite-remote-monitoring-explore#update-device-firmware) to update prototype device firmware doesn't update device firmware version.

# Steps to reproduce

1. Navigate to the **

[2017-11-03 18:58] timlaverty commented on #41
Related to: https://github.com/Azure/pcs-remote-monitoring-webui/issues/753, https://github.com/Azure/pcs-remote-monitoring-webui/issues/427

[2017-11-04 21:57] jcbendernh opened #43 "Azure Device Explorer Twin Error"
# Type of issue

- [ x] Bug
- [ ] New feature
- [ ] Improvement

# Description

Cannot connect to the device via the Azure Device Explorer Twin

# Steps to reproduce

1.  I have created the new Remote Monitoring using the Basic / .Net option.
2.  Using the Azure Device Explorer Twin, I have copied my Azure IoT Hub credentials into the IoT Hub Connection String, for example...

HostName=cfs365rmd53

[2017-11-06 03:39] timlaverty commented on #43
I suspect you have more than one reader on the stream already.  Please read the following:

[code]

[2017-11-06 03:39] #43 closed

[2017-11-10 01:39] dotnet007 opened #45 "Authenticate to the VM"
# Type of issue
- [x] Bug
- [ ] New feature
- [ ] Improvement

# Description
Please explain in the developer guide in the section of connecting to the VM that you must to reset the password before connecting the fisrt time.

# Screenshot

# Steps to reproduce
1. Try to connect to the VM with SSH
2. Is requiring the password of the azureuser (or rrot) but is not provided in previous steps.

# Expec

[2017-11-10 17:55] WilliamBerryiii opened #46 "Add visio architecture file so customers can easily modify it"
Can you include the visio file for the architecture drawing so that customers can grab it and modify/extend it for their deployments?

[2017-11-11 00:35] dluc commented on #45
@dotnet007 thanks for the great feedback, we're on it 👍

[2017-11-11 00:45] jillcary commented on #45
Thanks for the feedback!

The [Developer Reference Guide](https://github.com/Azure/azure-iot-pcs-remote-monitoring-dotnet/wiki/Developer-Reference-Guide) already includes instructions for [SSH into a VM](https://github.com/Azure/azure-iot-pcs-remote-monitoring-dotnet/wiki/Developer-Reference-Guide#ssh-into-a-vm).

I've additionally added an image to more clearly show where in the portal to update

[2017-11-11 00:45] #45 closed

[2017-11-11 06:34] dluc commented on #27
@jillcary I think we can reuse the work you've done recently to address this issue

[2017-11-14 14:06] holgerkenn opened #47 "npm install fails on Windows Subsystem For Linux, Ubuntu 16.04.3 if nodejs-legacy is missing"
# Type of issue
- [ ] Bug
- [ ] New feature
- [X] Improvement

# Description
npm install fails on package jsonpath@0.2.12

# Screenshot
npm ERR! jsonpath@0.2.12 postinstall: `node lib/aesprim.js > generated/aesprim-browser.js`
npm ERR! spawn ENOENT
npm ERR!
npm ERR! Failed at the jsonpath@0.2.12 postinstall script 'node lib/aesprim.js > generated/aesprim-browser.js'.

# Steps to reproduce
Start WS

[2017-11-14 14:30] #47 closed

[2017-11-14 20:39] dluc commented on #47
@holgerkenn just double checking, you managed to solve the problem fixing the npm installation in Windows, correct?

[2017-11-16 00:05] WilliamBerryiii opened #49 "Dead Documentation Links"
It looks like there are a number of documentation links that appear to go to a private repository.  Please see these documents and update with accessible links:

- https://github.com/Azure/azure-iot-pcs-remote-monitoring-dotnet/wiki/Architecture#public-facing-services
- https://github.com/Azure/azure-iot-pcs-remote-monitoring-dotnet/wiki/Public-facing-services

[2017-11-20 04:04] MattHoneycutt opened #51 "Why containers instead of functions?"
# Type of issue
- [ ] Bug
- [ ] New feature
- [ X ] Improvement

# Description
Not really an issue, more of a question: why are the major pieces of this sample implemented using containers instead of as one of the native Azure solutions that already provides the same benefits (scalability, robustness), such as Azure Functions or web apps?  Why self-host everything in VMs?    I'd like to know more

[2017-11-22 04:42] timlaverty commented on #51
Hi Matt,

This is a great question and one we’ve consistently talked about over the course of the release.  The net is that from an Azure perspective we’re happy with however customers want to run their workloads, whether in VMs/containers w/ an orchestrator (Service Fabric, K8s, DC/OS, …), in an app service PaaS environment, using Serverless, Azure Functions, etc.  We have tried to write our micr

[2017-11-22 15:59] MattHoneycutt commented on #51
Thanks for the feedback.  Personally, I'd like to see implementations using Azure Functions.  It'd also be useful to see where things like Streaming Analytics and Time Series Insights might fit into a solution like this.

[2017-11-22 20:40] timlaverty commented on #51
Thanks Matt.  We're laying out our plans for GA and beyond based on the feedback we get from folks like you; you taking the time is appreciated.

We're looking at ASA and TSI for a future release for rules processing and warm storage.  Az Functions are a potential fit as subcomponents in some microservices (e.g. the device simulation inside of the simulation microservice).

I'm going to leave this

[2017-11-26 11:34] faister opened #52 "Error in executing direct methods such as Reboot to a physical device"
# Type of issue
- [X] Bug
- [ ] New feature
- [ ] Improvement

# Description
Error in executing direct methods such as Reboot to a physical device, such as one built by following the tutorial at https://docs.microsoft.com/en-us/azure/iot-suite/iot-suite-connecting-pi-c.

The same thing goes with trying to change reported property in "physical device".

# Screenshot
IoTHubClient accepted the messag

[2017-11-27 16:42] hegate commented on #51
Hi @MattHoneycutt .Hector here, one of PMs for PCS. Your feedback is aligned with what we are hearing from various folks. As @timlaverty  mentions, we are in the process of laying out our plans for GA, and we'll make sure to include your comments as feedback for the enhancements.

Thanks again!

[2017-11-29 00:42] faister commented on #43
I got the same issue. While @timlaverty is right to say that this is due to having more than one reader on the stream, it is still an issue nevertheless and I reckon that this should be called out as an Improvement. At the very least would be helpful to explain in this repo's documentation about how to circumvent this issue. The Telemetry Agent is already reading off the IoT Hub EH compatible endp

[2017-11-29 01:52] timlaverty commented on #43
@faister thanks for adding the instructions.  What we plan to do in the future is create a separate group, leaving the default alone.  This should eliminate the bulk of cases (though still could happen if folks put multiple readers on the other stream).  @ppathan @hegate for FYI.

[2017-12-14 23:30] erikschlegel opened #54 "https://azureiotsuite.com appears to be offline"
# Type of issue
- [ ] Bug
- [ ] New feature
- [ ] Improvement

# Description
...

# Screenshot

# Steps to reproduce
1. [First step]
2. [Second step]
3. [and so on...]

# Expected behavior
...

# Current behavior
...

# Known workarounds
...

# Possible solution
...

# Context and Environment
* Operating System: ...
* GitHub branch: ...
* .NET Runtime: ...

[2017-12-14 23:32] #54 closed

[2018-01-11 16:26] franji opened #56 "Map is not accurate"
# Type of issue
- [x] Bug
- [ ] New feature
- [ ] Improvement

# Description
Map is not accurate. Location of devices shown on the map does not correspond with actual coordinates

# Screenshot

# Steps to reproduce
1. Add an active device with a known location

# Expected behavior
Device's position should match actual location

# Current behavior
Location not correspond with actual coordinates.

#

[2018-01-11 16:29] franji opened #57 "Problem with location on Firefox"
# Type of issue
- [x ] Bug
- [ ] New feature
- [ ] Improvement

# Description
There’s also a problem with location of the device on Firefox and MAC OS.

# Screenshot

# Steps to reproduce
1. Add device active with location.
2. Access to portal with Firefox and MAC OS.

# Expected behavior
The location is the same that others browers.

# Current behavior
The location is constantly moving

# Context

[2018-01-12 10:48] franji opened #58 "The IU doesn't refresh properly."
# Type of issue
- [x ] Bug
- [ ] New feature
- [ ] Improvement

# Description
The IU doesn't refresh properly. You have to change pages to see the graphic move or devices appear on the map.

# Screenshot

# Steps to reproduce
1. Access to portal
2. Activate a device sending data

# Expected behavior
When the device is activated, it must refresh automatically and appear on the map.

# Current behav

[2018-01-18 23:47] ToddGomon commented on #51
Add a plus one for me. I agree with Matt, and would like to see more done with native Azure solutions. Why not use Service Fabric and an Asp .Net Core Web App?
What parts would not work well as Functions and why?

[2018-01-19 17:27] dimaing commented on #51
Actually, I like microservices & containers approach. There are several other PCS including the previous version of this one heavily rely on Azure specific implementation. This PCS allows experimenting with Docker Containers microservice architecture within Azure. My vote is to continue with this approach. I'd like to see more stream analytics and BI functionality been developed. Maybe integration

[2018-01-23 23:51] ppathan commented on #11
Moved to TFS

[2018-01-23 23:51] #11 closed

[2018-01-24 00:43] ppathan commented on #19
Done.

[2018-01-24 00:43] #19 closed

[2018-01-24 17:08] carloshm opened #59 "Add a batch layer for a lambda like architecture"
# Type of issue
- [ ] Bug
- [ ] New feature
- [X] Improvement

# Description
Add blob storage support for lower cost and batch processing scenarios through lambda architecture implementation. Context information in https://docs.microsoft.com/en-us/azure/cosmos-db/lambda-architecture#speed-layer using feed support for Cosmos DB

# Screenshot
![imagen](https://user-images.githubusercontent.com/23895

[2018-02-07 06:36] chsomati opened #62 "DocBug: Add disclaimer that newer versions of Docker for Windows may not work right now"
# Type of issue
- [x] Bug
- [ ] New feature
- [ ] Improvement

# Description
There have been some issues with using Docker for Windows. It doesn't seem fully solved yet, according to the other GitHub issues. I have not been able to pull images on the Stable version of Docker https://github.com/docker/for-win/issues/1238. https://github.com/docker/for-win/issues/1581 shows that it was a fairly rece

[2018-03-01 16:30] Dolphinsimon opened #66 "Error example in /scripts/local/.env"
# Type of issue
- [X] Bug
- [ ] New feature
- [ ] Improvement

# Description
There is an error example in the /scripts/local/.env will cause a strange exception when you run the preview5 locally.

**Line 27 (/scripts/local/.env) :**
_PCS_IOTHUBREACT_HUB_ENDPOINT=Endpoint=sb://iothub-foo-iothub-bar-12345-12345.servicebus.windows.net/;SharedAccessKeyName=iothubowner;SharedAccessKey=12345=_

**In the

[2018-03-05 00:22] rangv opened #67 "Broken Link"
# Type of issue
- [ ] Bug
- [x] New Improvement

# Description
Broken Link: https://github.com/integrations/tower

# Screenshot

# Steps to reproduce
1. Click on Tower link

# Expected behavior

# Current behavior
Get 404 Error when link is clicked

# Known workarounds
...

# Possible solution

https://www.git-tower.com/windows/

[2018-03-06 01:38] ppathan commented on #66
Thanks for reporting this. Should be fixed by this https://github.com/Azure/telemetry-agent-dotnet/pull/31/files

[2018-03-06 03:51] terrymandin opened #68 "CLI Standard Deployment Failing"
# Type of issue
- [x ] Bug
- [ ] New feature
- [ ] Improvement

# Description
Standard deployment failing

# Screenshot
![error](https://user-images.githubusercontent.com/833055/37013394-e85ba352-20b6-11e8-8cf0-6d8b1e6f4844.JPG)

# Steps to reproduce
1. pcs -s standard

I tried multiple unique names (TMPipeline, TMPipelineSample, TMPipeline2018) and also tried multiple locations (West US and West

[2018-03-06 12:08] bhanudaybirla opened #69 "Dashboard not visible after deployment not visible"
# Type of issue
- [x ] Bug
- [ ] New feature
- [ ] Improvement

The error says:
**An error occurred while sending the request. - A connection with the server could not be established**

[2018-03-07 06:30] #69 closed

[2018-03-07 06:30] bhanudaybirla commented on #69
Its fixed with one more try

[2018-03-16 14:49] newpreetam opened #72 "How to debug?"
I have deployed the OOB Azure IoT RMS to Azure, working fine there. But, once I tried to customize the solution locally and deployed to Azure IoT suite, it's not working anymore. The dashboard doesn't show any data.
Can you please guide me how can I debug my solution locally? Is there any way to attach to that process? Please note, I am not very familiar with Linux. I just really need to know what

[2018-03-16 15:57] ppathan commented on #72
Can you please explain how you "once I tried to customize the solution locally and deployed to Azure IoT suite" did this? There is no way currently you can published a customized solution to Azure IoT suite so i'm trying to gather more information.

Also what are you trying to debug? Webapp or any particular microservice? If you just trying to check if your containers are running properly then you

[2018-03-28 05:09] SLdragon opened #73 "After resize the Virtual Machine, the PCS portal is not working anymore"
I create a "Remote monitoring preview" solution from the website:
https://www.azureiotsuite.com/#solutions/types

After creating successfully, it works fine.
However, after I changing the VM size, then the portal is not working, I receive 502 bad gateway error

![image](https://user-images.githubusercontent.com/5545529/38008647-5e76c49a-3282-11e8-86cf-c83145f67a64.png)

I also try to change the VM

[2018-03-29 00:27] jillcary commented on #73
Could you sign into the VM and check if the docker containers are running with `docker ps -a` via the instructions here:
https://github.com/Azure/azure-iot-pcs-remote-monitoring-dotnet/wiki/Developer-Reference-Guide#common-docker-commands

If the containers have stopped, you can use the scripts on the vm in the /apps folder to restart the service:
`./start.sh`

[2018-03-29 07:22] pankajisgarg commented on #51
I would also like microservices hosted in Azure web app as virtual applications, so that
number of different Azure services reduces in system and I can have apt scale out and scale up story.

[2018-03-29 17:10] jillcary commented on #67
Issue was in the wiki documentation under [Local Development Setup](https://github.com/Azure/azure-iot-pcs-remote-monitoring-dotnet/wiki/Running-the-Remote-Monitoring-Solution-Locally#local-development-setup).

The link has been updated.

[2018-03-29 17:10] #67 closed

[2018-03-30 02:29] SLdragon commented on #73
Thanks for your quickly reply, I will have a try!

[2018-04-06 08:55] pankajisgarg commented on #73
I am having similar issue where after restarting VM the web app stopped working.

[2018-04-06 09:01] pankajisgarg opened #76 "Map API is not getting configured correctly"
# Type of issue
- [x] Bug
- [ ] New feature
- [ ] Improvement

# Description
My subscription do not have any usage of Map API but still when i try to kick new deployment I get warning that I will need to fix it manually later. I have tried with two different subscriptions I have.

# Steps to reproduce
1. Create a solution with a subscription with less than 2 MAP APIs in use.

# Expected behavior
S

[2018-04-10 12:14] mtheolog opened #78 "pcs login command fails"
# Type of issue
- [ ] Bug
- [ ] New feature
- [ ] Improvement

# Description
I am following the instructions at Getting Started / Setup section to proceed to a basic deployment but the pcs login command fails. The output is:

# Screenshot

C:\Users\mtheo\source\repos\azure-iot-pcs-remote-monitoring-dotnet\cli>pcs login
To sign in, use a web browser to open the page https://microsoft.com/devicelogi

[2018-04-16 08:13] mtheolog commented on #78
I found the problem and resolved it. I uninstalled node chakra and installed the latest release of node.js. Thus I managed to proceed to a local deployment. Please close the issue.

[2018-04-16 08:13] #78 closed

[2018-04-16 12:04] mtheolog opened #80 "Local deployment - dashboard can't accessed from any browser"
# Type of issue
- [x] Bug
- [ ] New feature
- [ ] Improvement

# Description
I have followed the instructions in
https://docs.microsoft.com/en-us/azure/iot-suite/iot-suite-remote-monitoring-deploy-local to perform a local deployment. At the end, I could not access the dashboard (through  http://localhost:8080 ). The error message at Chrome was 'the site can not be reached'  while at Firefox was 'U

[2018-04-18 11:51] mtheolog opened #82 "Local deployment - exception raised while loading Device Model configuration"
# Type of issue
- [x] Bug
- [ ] New feature
- [ ] Improvement

# Description
I am trying to perform a local deployment. After several tries and fixes, yesterday, I managed to have all docker processes running (at a Linux ubuntu). But device models could not be established and thus all the devices were off line.

# Screenshot
 [ERROR][2018-04-18 11:23:32.305][WebService.1c3774bf-43e1-425f-9700-0457

[2018-04-18 11:55] mtheolog opened #83 "Local deployment - local_webui exiting - Permission denied"
# Type of issue
- [X] Bug
- [ ] New feature
- [ ] Improvement

# Description
Yesterday, I managed to performed a local deployment (at a Linux Ubuntu) with all pcs up and running. Today I tried to redeploy by following the following: docker-compose down --rmi all and docker-compose up. The webui is exited and the logs refer to lack permissions.

# Screenshot
webui_1             | + mkdir -p /app/lo

[2018-05-03 13:44] fpatry opened #86 "Deployment worked. Attaching to dashboard fails with 500: Internal Server Error"
# Type of issue
- [X ] Bug
- [ ] New feature
- [ ] Improvement

# Description
I followed the instructions on the https://www.azureiotsolutions.com/ site and I get an 500:  Internal Server Error.

I am logged in as the Azure Owner.

# Screenshot
![capture0](https://user-images.githubusercontent.com/38950706/39580017-1937c0aa-4eb6-11e8-81f1-5285a8bbcfc4.JPG)
![capture1](https://user-images.githubuse

[2018-05-04 18:18] fpatry commented on #86
It is working today.  I did not change anything on my side.

[2018-05-04 18:18] #86 closed

[2018-05-10 05:45] prabhu66 opened #96 "Not able to deploy Locally.."
I have cloned the code but i am not able to deploy Locally because when i gave **docker-compose up** command Dashboard page is loading but data is not displaying in dashboard page. In device Page, all details are displaying. Please Resolve this error as soon as possible. Please see the Screenshot for reference.
![error](https://user-images.githubusercontent.com/18692829/39854049-5cae661c-5443-11e8

[2018-05-11 15:01] srberard commented on #96
I am experiencing a similar problem.  I've followed the steps outlined here https://docs.microsoft.com/en-us/azure/iot-suite/iot-suite-remote-monitoring-deploy-local to setup resources in Azure.  I've also double-checked the environment variables to ensure that the connection strings and such are correct.

When I run `docker-compose up` it runs but the web UI shows failed components as @prabhu66 s

[2018-05-11 20:12] ppathan commented on #96
Thanks for letting us know working on a fix for this.

[2018-05-12 00:02] ppathan commented on #96
This is issue should be fixed now. Can you please try again and let us know.

[2018-05-14 17:50] ppathan commented on #96
Did you try this with a fresh deployment? Also there were some new env variables added to .env file that needs to be filled in.
2 locations:
* https://github.com/Azure/azure-iot-pcs-remote-monitoring-dotnet/blob/master/scripts/local/.env#L58
* https://github.com/Azure/azure-iot-pcs-remote-monitoring-dotnet/blob/master/scripts/local/.env#L70

[2018-05-14 17:51] ppathan commented on #83
This is should be fixed with latest version. Let us know if not.

[2018-05-15 01:55] srberard commented on #96
I believe I did, but I will try again and respond back shortly.  Thx!

[2018-05-15 08:56] belussi commented on #56
Hi,
We are also facing this issue... After changing device location it doesn't appear on the map...
Is anyone planning to fix that? It was reported 4 months ago...

[2018-05-15 09:58] prabhu66 commented on #96
hi @srberard,
Same issue i am facing again @srberard . Once you fix let me know.

[2018-05-15 09:59] prabhu66 commented on #96
Device and Rules are Showing but no data in dashboard. Can you please fix and tell me.

[2018-05-15 10:15] prabhu66 opened #98 "How to Run Every Microservices Separately?"
Hi,

I have to run every microservices in separate port.
Can you please provide me the detail step by steps to run for all microservices in different port.
Please tell me how to configure Environmental Variables for every microservices in detail.

[2018-05-16 06:46] prabhu66 commented on #96
Hi @ppathan ,
Please fix this error. Can you please give me an idea to fix this. Still i am facing same error. I have tried everything but still i am facing this error. Please give me some idea to fix this error.

[2018-05-16 06:48] srberard commented on #96
This is still failing for me.  Like @prabhu66 above I get the dashboard but no data.  This is what I see:
![image](https://user-images.githubusercontent.com/581348/40100040-64677882-5897-11e8-95dc-3d38b1c08ef9.png)

I did a clean git clone of the repo and a fresh deployment.  There were exceptions in the ASA Manager as follows:
[code]
In looking at the output of the CLI (and pasted into the .env f

[2018-05-16 06:54] prabhu66 commented on #96
What is the solution @srberard . Any other solution is there. How to fix this.

[2018-05-16 07:14] prabhu66 commented on #96
Hi @srberard ,

Now I have cloned and started a new deployment. I get the dashboard but no data is available but still Devices  and Rules are showing . Now i am facing the same error what you have facing now @srberard .
Any aother solution is there to resolve this @srberard and @ppathan .

![no data](https://user-images.githubusercontent.com/18692829/40101994-d8d34ba0-5906-11e8-903a-d6d68c14f14a.p

[2018-05-16 07:44] srberard commented on #96
I seem to have made some progress but things are still not working just yet.  The first thing I did was uninstall the CLI and reinstall it.  Then I did a fresh deploy.  This created a number of additional resources that I did not have before (e.g. an Event Hub).  Like before these were copies to the .env file.

Running the solution again locally unfortunately yielded a similar result.  I'm not see

[2018-05-16 12:50] prabhu66 commented on #96
what is the proper solution to resolve this error @srberard . You got any idea to resolve this error. Please let me know.

[2018-05-17 06:08] prabhu66 commented on #96
can you please help me @srberard .

[2018-05-17 06:38] srberard commented on #96
@prabhu66 I'm struggling with the same issues as you.  I will look at this again tomorrow and walk through the code to see if there is anything I can figure out as to what it going on.

[2018-05-18 06:36] rajatjain4949 opened #100 "Can't run rms using Custom docker image"
# Type of issue
- [x] Bug
- [ ] New feature
- [ ] Improvement

# Description
Trying to create a customized image of device simulation using dockerfile present in ./device-simulation/scripts/docker using command docker build .
facing following error.

D:\azure-iot-pcs-remote-monitoring-dotnet\device-simulation\scripts\docker>docker build .
Sending build context to Docker daemon  17.41kB
Step 1/12 :

[2018-05-18 06:50] prabhu66 commented on #96
Hi @srberard ,
Have you fixed that error. Please try to fix that error as soon as possible.

[2018-05-18 10:45] prabhu66 commented on #96
Hi @srberard ,
I have fixed that error.
In stream Analytics, there are two inputs,
DeviceGroups and DeviceTelemetry
1. In DeviceGroups input, change the **container** to **_referenceinput_**.
2. In DeviceTelemetry input, change the **Consumer Group** to **_streamingJobsConsumerGroup_**.
Test the both input and both output

Then start the stream analytics. Once stream analytics gets started, then g

[2018-05-19 06:34] srberard commented on #96
This is now working for me.  I did have to start the ASA job manually to get the telemetry data.

As for region, I'm using US West at the moment.

[2018-05-21 14:11] bryanmullin opened #101 "Implement IoT Edge"
# Type of issue
- [ ] Bug
- [x] New feature
- [x] Improvement

# Description
Implement Azure IoT Edge functionality into solution.

[2018-05-21 21:51] davidrpk opened #102 "Local deployment unable to resolve DNS names"
# Type of issue
- [x] Bug
- [ ] New feature
- [ ] Improvement

# Description
Local deployment as per instructions here: https://docs.microsoft.com/en-us/azure/iot-accelerators/iot-accelerators-remote-monitoring-deploy-local
It appears as if the dashboard is unable to connect to application gateway and containers are unable to resolve DNS names.

# Screenshot
![image](https://user-images.githubuser

[2018-05-21 23:10] davidrpk commented on #102
C:\Users\XXXXXXXXXX\source\repos\azure-iot-pcs-remote-monitoring-dotnet\scripts\local>docker-compose up
Starting local_storageadapter_1 ... done
Starting local_auth_1           ... done
Starting local_iothubmanager_1  ... done
Starting local_devicesimulation_1 ... done
Starting local_telemetry_1        ... done
Starting local_config_1           ... done
Starting local_asamanager_1       ... done
S

[2018-05-21 23:12] davidrpk commented on #102
Closing as it works correctly outside of our corporate network. I don't think it is an issue with the resolver as initially assumed. It most likely couldn't connect to Azure resources due to the corporate firewall.

[2018-05-21 23:12] #102 closed

[2018-05-22 17:32] ppathan commented on #100
That is not how we do docker builds. There is a build script inside of the folder that needs to be run for building docker images. So just run `build` or `build.cmd` from the `~scripts\docker` folder.

[2018-05-22 17:32] #100 closed

[2018-05-23 12:19] rajatjain4949 commented on #100
@ppathan Thanks a lot.

[2018-05-29 14:28] kkbandaru opened #104 "Not able to deploy locally"
When I try to deploy local I am getting error in logs, please let me know which branch to pick

Error 1:

devicesimulation_1  | [ERROR][2018-05-29 14:26:23.323][WebService.4c0c3057-89d4-4405-90f6-6d4962319b4d][Simulation:RunAsync] Failure reading and starting simulation from storage., {"e":{"ExceptionFullName":"Microsoft.Azure.IoTSolutions.DeviceSimulation.Services.Exceptions.ExternalDependencyExc

[2018-06-01 09:11] prabhu66 commented on #104
can u please provide me the screenshot error of the UI(http://localhost:8080/dashboard) @kkbandaru .

[2018-06-11 09:36] brk114 opened #106 "Bug Redeploying the reverse proxy doesn't work as is."
# Type of issue
- [x] Bug
- [ ] New feature
- [ ] Improvement

# Description
We are using a remote monitoring setup running in the Ubuntu 16.0 LTS azure vm, it was deployed through https://www.azureiotsolutions.com/.

I want to add another dockerized api to the reverse proxy. I have updated the ngnix configuration and deployed it as a docker image. It didn't worked as is.

So, I have tried to rede

[2018-06-12 16:57] zhang-hua commented on #106
@brk114 : you need one more step to fix the port mapping after you change the docker-compose file. The Web UI's docker container is expected to listen on new ports 10080 & 10443 now with your change. But the running docker container of UI is still listening on port 80 & 443 when using image tag `1.0.0-preview.5`. So you need to change it to the latest tag `testing` for UI besides reverse proxy ser

[2018-06-12 17:08] zhang-hua commented on #104
@kkbandaru : can you check if the CosmosDB connection string format is valid for the environment variable `PCS_TELEMETRY_DOCUMENTDB_CONNSTRING`? Make sure it is similar to "AccountEndpoint=https://xxxxxxxx.documents.azure.com:443/;AccountKey=xxxxxxxxx;".  The exception message is complaining the format of this setting.

[2018-06-12 17:21] zhang-hua commented on #98
For .Net projects, you need 3 steps:
1. Change the default setting `webservice_port` to use different port. For example, [iothub-manager's port setting](https://github.com/Azure/iothub-manager-dotnet/blob/master/WebService/appsettings.ini#L2).
2. Rebuild the docker image `scripts/docker/build`
3. Change environment variables in docker compose file to use the new port of the services if applied. Fo

[2018-06-18 19:38] jillcary commented on #27
The documentation has been updated for running the solution locally [here](https://docs.microsoft.com/azure/iot-accelerators/iot-accelerators-remote-monitoring-deploy-local).

Let us know if this doesn't work for you.

[2018-06-18 19:38] #27 closed

[2018-06-23 00:47] faister opened #108 "Dashboard errors"
# Type of issue
- [X] Bug
- [ ] New feature
- [ ] Improvement

# Description
When I start ingesting telemetry from about 400 devices sending around 162K D2C messages over a 12-hour period, the dashboard stopped rendering. The error messages across all the frames were the following:
Error: Oops, we were not able to find the service.

# Screenshot
![oops](https://user-images.githubusercontent.com/80

[2018-07-05 16:44] zhang-hua commented on #106
@brk114 , great! I will close this issue.

[2018-07-05 16:44] #106 closed

[2018-07-12 16:29] YeyoCoder opened #113 "Error: Invalid character at position.1"
# Type of issue
- [x] Bug
- [ ] New feature
- [ ] Improvement

# Description
After following the intructions of https://github.com/Azure/azure-iot-pcs-remote-monitoring-dotnet/wiki/Manual-steps-to-create-azure-resources-for-local-setup I am not able to execute the solution locally. The **Error: Invalid character at position.1** appears and I don´t know why.

# Screenshot
![image](https://user-imag

[2018-07-12 18:48] dluc commented on #113
@hegate @ppathan  I think the instructions are missing some recent information related to ASA.

[2018-07-17 23:35] YeyoCoder commented on #113
I deployed locally following the guide [Deploy the Remote Monitoring solution accelerator locally](https://docs.microsoft.com/es-es/azure/iot-accelerators/iot-accelerators-remote-monitoring-deploy-local)  **but the problem continue**:

- From Chrome
![image](https://user-images.githubusercontent.com/39103825/42849152-b5143cd0-89e7-11e8-8747-df33f00a7e18.png)

- From Edge
![image](https://user-imag

[2018-07-19 16:46] kidproquo opened #114 "IP addresses of IoT Hubs"
We see that all the IoT Hubs under Standard deployment resolve to the same IP address.  See below:

[code]

Is this by design?

Will it always be the same IP address? We need to create firewall rules to allow access to the IoT Hubs from the Edge device. If the IoT Hubs will always resolve to the same IP address then can we create just one rule for all IoT Hubs?

[2018-07-19 16:55] giyeh commented on #114
@ppathan to help take a look

[2018-07-19 23:37] gknowd opened #115 "Cannit deploy locally"
# Type of issue
- [ x] Bug
- [ ] New feature
- [ ] Improvement

# Description

When running the docker-compose up command, I get a failure when it gets to the reverse proxy with a b'Drive has not been shared' Am I missing a configuration somewhere?

# Screenshot
$ docker-compose up
local_storageadapter_1 is up-to-date
local_auth_1 is up-to-date
local_telemetry_1 is up-to-date
local_devicesimulatio

[2018-07-20 20:50] kidproquo opened #116 "Telemetry data schema"
# Type of issue
- [ ] Bug
- [ ] New feature
- [ x] Improvement

# Description
How can we specify a telemetry schema for an actual device? The simulation service has a spec for this but nothing for a real device.

[2018-07-27 00:32] ppathan commented on #116
Hi @kidproquo
The schema for telemetry message is just json data format. It has _unit property but not required to show on the telemetry chart in the UI.
This is the sample message and the `data` section is used to show points on telemetry chart.
[code]
Are you not able to see the telemetry data from your physical device show up on chart in the UI?

[2018-07-27 00:40] ppathan commented on #114
Hi @kidproquo Can you explain your scenario in little bit detail. Why do you need to create a firewall and what are you trying to achieve? Also when you say standard is it RMv2 standard deployment or IoT Hub Standard sku?

[2018-07-27 04:55] ppathan commented on #115
Can you confirm if the drive is being shared or not? Have you tried unsharing and sharing again?

[2018-07-27 04:59] ppathan commented on #113
After deploying locally Can you go to portal.azure.com and the resource group and turn on the Azure stream analytics job to see if it fixes the problem?

[2018-07-27 05:03] ppathan commented on #113
@asdonald Can you work with Dominic to make sure that our documentation is up-to-date after ASA for local deployment. Thanks!

[2018-07-27 05:09] ppathan commented on #108
@zhang-hua Can you take a look at this? You can investigate this as part of 1808.

[2018-07-27 05:12] ppathan commented on #104
@kkbandaru Can you please comment if the issue is fixed otherwise we will close it.

[2018-07-27 05:15] ppathan commented on #98
Question answered. Closing issue.

[2018-07-27 05:15] #98 closed

[2018-07-27 05:19] ppathan commented on #96
@prabhu66 Can you please comment if the issue is still valid with maps?

[2018-07-27 05:20] #83 closed

[2018-07-27 05:21] ppathan commented on #82
Closing issue that were before //build

[2018-07-27 05:21] #82 closed

[2018-07-27 05:21] ppathan commented on #76
This is fixed since we moved to Azure Maps

[2018-07-27 05:21] #76 closed

[2018-07-27 05:31] ppathan commented on #52
@jillcary Can you try out the documentation to confirm if it works.

[2018-07-27 05:32] #51 closed

[2018-07-27 05:33] ppathan commented on #49
Fixed

[2018-07-27 05:33] #49 closed

[2018-07-27 05:33] #46 closed

[2018-07-27 05:33] ppathan commented on #41
Fixed.

[2018-07-27 05:33] #41 closed

[2018-07-27 05:34] ppathan commented on #39
Fixed.

[2018-07-27 05:34] #39 closed

[2018-07-27 05:34] #30 closed

[2018-07-27 05:35] #29 closed

[2018-07-27 05:35] #26 closed

[2018-07-27 05:35] #18 closed

[2018-07-27 05:35] #9 closed

[2018-07-27 05:36] #6 closed

[2018-07-27 15:24] YeyoCoder commented on #113
@ppathan The Azure Stream Analytic jobs was _running_.  I [deploy the Azure services](https://docs.microsoft.com/es-es/azure/iot-accelerators/iot-accelerators-remote-monitoring-deploy-local#deploy-the-azure-services) using the CLI.
All the resources needed were created and ran by the CLI command `pcs -s local` (IoT Hub, Storage Account, Event Hubs, CosmosDB, Stream Analytics jobs). **This doesn't

[2018-07-27 18:43] kidproquo commented on #116
Thanks @ppathan. What about the ASA service? Does it need to know this schema for analytics?

[2018-07-30 15:46] ppathan commented on #116
The ASA service is pass through to CosmosDB for telemetry messages and uses the same schema.

[2018-08-01 15:16] andrejpk commented on #115
When I ran into this error, checking the drive of my local repo in Docker settings fixed this:
![image](https://user-images.githubusercontent.com/1774478/43530738-4da3741c-957c-11e8-9ed1-c747a7fcf517.png)

[2018-08-01 18:12] andrejpk commented on #113
A workaround you can use, edit the scripts/local/docker-compose.yaml like I did in my pull request commit: https://github.com/andrejpk/azure-iot-pcs-remote-monitoring-dotnet/commit/5519eb35b9c8eaf8ef7468968b0b18c06781569d

My dashboard is running now locally:
![image](https://user-images.githubusercontent.com/1774478/43540127-daee464a-9594-11e8-9eb6-f4ad41ee57eb.png)

[2018-08-09 16:51] kidproquo commented on #114
@ppathan any update? Do you need any more information?

[2018-08-09 21:56] rezasherafat commented on #114
@kidproquo, your IoT Hub's IP address _may_ change - this happens rarely and mainly after a regional failover. If you are allowing traffic only to specific addresses you need to ensure you can change the firewall rules if IoT Hub's IP changes.

[2018-08-09 22:14] rezasherafat commented on #114
Also, note that typically only the Edge Hub and Edge Agent will need direct connectivity to IoT Hub.

A module _may_ connect too, but that is not standard practice.

[2018-08-14 18:51] andrejpk commented on #113
The fix for this has been merged, suggesting we close this now. @YeyoCoder  please confirm.

[2018-08-22 18:25] ppathan commented on #101
We are working on this. Initial release in next few months.

[2018-08-22 18:25] #101 closed

[2018-08-22 18:26] ppathan commented on #108
@zhang-hua Can you please close the issue if it has been fixed.

[2018-08-22 18:26] #104 closed

[2018-08-22 18:27] #113 closed

[2018-08-22 18:27] ppathan commented on #114
Questions answered hence closing the issue.

[2018-08-22 18:27] #114 closed

[2018-08-22 18:28] #115 closed

[2018-08-22 18:28] #116 closed

[2018-08-22 20:24] anwarabidali opened #121 "Couldn't find MSIOT_Hub_sample_device_lab_2.sln solution file in lab2"
# Type of issue
- [x] Bug

# Description
...1.	Couldn't file  MSIOT_Hub_sample_device_lab_2.sln solution file
# Screenshot
Couldn't find MSIOT_Hub_sample_device_lab_2.sln solution

![untitled](https://user-images.githubusercontent.com/31575027/44488844-73dd4480-a677-11e8-94ef-8490ef081738.png)

# Steps to reproduce
1. Open Lab 2 : Customizing the RM solution accelerator
2. Goto step 1.1  Open the

[2018-08-22 20:29] anwarabidali opened #122 "error while rendering map in remote monitoring app"
# Type of issue
- [X ] Bug
- [ ] New feature
- [ ] Improvement

# Description
...error while rendering map in remote monitoring app
# Screenshot
![untitled2](https://user-images.githubusercontent.com/31575027/44488948-b9017680-a677-11e8-87de-88056abda14d.png)

# Steps to reproduce
1. Open Lab 1 - Introduction to Azure IoT and RM
2. Goto: Monitoring section
3. Goto: Choose the devices to display. C

[2018-08-23 15:15] hegate commented on #122
@ppathan  can you take a look at this error?

[2018-08-23 15:16] hegate commented on #121
@asdonald this seems to be a typo in the latest labs from Ranga, could you take a look?

[2018-08-27 13:06] njabulomp opened #123 "Text based alarms generation"
Good day,

I would like to know if the stream analytics job allows text based rules matching .e.g. button mode = 'guard' along with numeric value matching e.g. temp = 50.0 when evaluating rules ?
---------------------------
**Update**

I got it to work, my rules needed single quotes. e.g.
__rulefilterjs": "return (record.__aggregates.description = 'Double press') ? true : false;

[2018-08-29 20:51] asdonald commented on #121
@anwarabidali This is not part of this repository. This folder does not get shipped with the Remote Monitoring open source repo.

MSIOT_Hub_sample_device_lab_2.sln should be a zip folder that comes with all the Labs and Modules for IoT PPE training only.
@rangv as FYI.

[2018-08-29 20:51] #121 closed

[2018-08-29 20:51] asdonald commented on #121
@hegate This issue has been resolved. Moving to closed.

[2018-08-31 12:55] #123 closed

[2018-08-31 13:00] njabulomp opened #125 "Windows Docker Deploy"
Good day,

This might be a simple problem, but I would like to know how to deploy the microservices in windows server 2016 with containers on Azure VM in Docker. I managed to build, publish, pull and start the microservices in Docker in the preconfigured linux VM by following the developer reference. I've been stuck on this for a while and would gladly welcome some assistance.

[2018-09-05 18:33] asdonald commented on #125
@njabulomp Thanks for your question! Just to clarify, you were able to get this working on Linux but not windows?

[2018-09-05 22:34] isaac73 commented on #122
@anwarabidali couldn't repo this. Which region is your deployment in?

[2018-09-05 22:50] isaac73 commented on #122
Are you trying to deploy in one of these unsupported countries?
Argentina
China
India
Morocco
Pakistan
South Korea

[2018-09-05 22:58] isaac73 commented on #122
Closing this issue, since this deployment was done in south-east-Asia and since AzureMaps is not supported there.

[2018-09-06 15:26] njabulomp commented on #125
@ asdonald, Hi thank you for the response, yes I was able to update the microservices, push and pull the modifications from my docker hub and start the containers in the linux vm, I tried the same on Windows without much success. I am new to docker and containers so this is a learning process for me as well.

[2018-09-07 00:49] #66 closed

[2018-09-11 15:05] kidproquo opened #126 "Version info in settings panel shows latest release"
# Type of issue
- [X] Bug
- [ ] New feature
- [ ] Improvement

# Description
The version info in the settings panel simply points to the latest release and its release notes.

# Screenshot
![image](https://user-images.githubusercontent.com/410966/45368744-f5a2fc80-b5a9-11e8-919c-16dcab18afc0.png)

# Steps to reproduce
1. Click the settings gear icon
2. Version info is shown on the top of the panel

[2018-09-12 14:45] sergaz-msft opened #127 "ERROR: for reverseproxy Cannot start service reverseproxy: OCI runtime create failed: container_linux.go:348"
# Type of issue
- [x] Bug
- [ ] New feature
- [ ] Improvement

# Description
Following [this ](https://docs.microsoft.com/en-us/azure/iot-accelerators/iot-accelerators-remote-monitoring-deploy-local) How-to guide.

After the step `docker-compose up` I get the following error:

# Context and Environment
* Operating System: Windows 10
* GitHub branch: master
* .NET Runtime: `dotnet --version` **2.1.

[2018-09-12 17:46] asdonald commented on #125
@njabulomp

Docker is cross platform so you should really be able to run the containers in Windows.

One detail not clear from the GitHub question, is whether the you want to run the containers in a single Windows machine or multiple machines, i.e. basic vs standard deployment. The basic deployment is very simple to run, using Docker Compose and a single configuration file similar to this: https:/

[2018-09-12 17:46] #125 closed

[2018-09-12 18:12] asdonald commented on #127
@sergaz-msft There is a doc update that needs to happen. We have simplified local deployment. The following link should help you:

https://github.com/Azure/azure-iot-pcs-remote-monitoring-dotnet/blob/master/docs/LOCAL_DEPLOYMENT.md

@sushilraje  can help if you run into any issues.

[2018-09-12 18:14] asdonald commented on #126
Ashley to create a new deployment and verify.

[2018-09-12 18:16] asdonald commented on #108
@ppathan Check if latest PR contains this fix.

[2018-09-12 21:36] sergaz-msft commented on #127
Thank you @asdonald ! Can you also answer to customer on this issue: https://github.com/MicrosoftDocs/azure-docs/issues/14679 ?

Will give it a try asap.

[2018-09-14 16:57] ppathan commented on #126
I tried out with latest deployment and it showing the latest release notes and link. Let us know if this is still the issue.
![image](https://user-images.githubusercontent.com/16170750/45564187-8543e780-b804-11e8-8ff4-c5867fdc50f8.png)

[2018-09-14 18:09] kidproquo commented on #126
@ppathan, this is not correct. We have not upgraded to the latest version and we see 1.0.2 as the version! The code just looks up the latest release on GitHub and shows that release's info.

![image](https://user-images.githubusercontent.com/410966/45567408-5f780c00-b81f-11e8-80ba-2ec2730c7a06.png)

[2018-09-14 20:21] ppathan commented on #126
@kidproquo Now I get it. The original screenshot was showing old release version so we thought other way :). Yeah this is a known issue. Will reopen.

[2018-09-17 23:42] aditidugar opened #130 "Messages collection for new deployments still created in Cosmos DB"
# Type of issue
- [x] Bug
- [ ] New feature
- [ ] Improvement

# Description
Messages collection is still created in Cosmos DB for new deployments that include TSI.

# Screenshot
![image](https://user-images.githubusercontent.com/29984175/45656174-cf44fb80-ba98-11e8-9cf2-33c76646bf98.png)

# Steps to reproduce
1. Deploy a new SA from solutions.com
2. Visit the Cosmos DB resources in the Azure Port

[2018-09-17 23:46] #130 closed

[2018-09-19 18:28] asdonald commented on #126
@isaac73 Can you please look into this bug

[2018-09-19 18:29] asdonald commented on #122
@isaac73 We need to check for error and then display that maps isn't available in their region.

[2018-09-19 18:30] asdonald commented on #52
Fixed.

[2018-09-19 18:30] #52 closed

[2018-09-19 19:47] asdonald commented on #122
@isaac73 Azure Maps as a service is not available in some countries around the world. It doesn't matter where you make the deployment, rather, its where you are physically viewing the browser that matters. For example, if you make a deployment in EastUS but open that deployment in India, you will not see the map.

[2018-09-20 22:48] molly-moen commented on #108
will investigate 9/21

[2018-09-21 04:55] developersenakim opened #132 "Manual steps to create azure resources for basic / standard setup"
# Type of issue
- [ ] Bug
- [ ] New feature
- [x] Improvement

# Description
Documentation on how to manually setup the basic/ standard version of IoT suite.

# Screenshot
Example : https://github.com/Azure/azure-iot-pcs-remote-monitoring-dotnet/wiki/Manual-steps-to-create-azure-resources-for-local-setup

[2018-09-23 11:00] rangv opened #133 "New Rule Device Group Issue"
# Type of issue
- [x] Bug
- [ ] New feature
- [ ] Improvement

# Description

When creating a new rule and applying device group, devices from all device groups are being selected.
![18rule](https://user-images.githubusercontent.com/17085664/45927246-0aa25880-bee5-11e8-918b-471b7d893f0b.png)
![19rulelist](https://user-images.githubusercontent.com/17085664/45927247-0fffa300-bee5-11e8-9380-2ee876a7e

[2018-09-24 18:32] molly-moen commented on #108
This requires sending a post instead of a get when the get query is more than 2048 characters. This will require 3 PRs:
Java & .NET versions of adding POST requests for any GET requests that require a list of devices
Web UI change to use a POST request when the query is too long

[2018-09-27 23:54] VidNa opened #134 "Update the wiki docs on GitHub for RM"
# Type of issue
- [ x] Bug
- [ ] New feature
- [ ] Improvement
# Description
Customer has reported the following docs as outdated.
- Internal services - https://github.com/Azure/azure-iot-pcs-remote-monitoring-dotnet/wiki/Internal-services
- Public facing services - https://github.com/Azure/azure-iot-pcs-remote-monitoring-dotnet/wiki/Public-facing-services
- Developer Reference Guide - https://git

[2018-10-02 18:41] VidyaNallathimmayyagari opened #135 "Deploying via CLI using West US 2 fails"
# Type of issue
- [x ] Bug
- [ ] New feature
- [ ] Improvement

While trying to deploy via CLI and using West US 2, it fails with the following error -

Deployment validation failed:
{
  "code": "InvalidTemplate",
  "message": "Deployment template validation failed: 'The provided value 'eastus 2' for the template parameter 'tsiLocation' at line '1' and column '15372' is not valid. The parameter va

[2018-10-03 13:29] tudorian opened #136 "ASA Stream Analytics JOB"
# Type of issue
- [ ] Bug
- [ ] New feature
- [x] Improvement

# Description
How do you configure the Stream Analytics JOB for the ASA Manager. I cannot find any reference in the manual deployment procedure ?

[2018-10-03 18:14] asdonald commented on #136
@tudorian Can you please elaborate on what you mean by "configure"?

[2018-10-03 18:15] asdonald commented on #135
@VidyaNallathimmayyagari This issue has been fixed.

[2018-10-03 18:15] #135 closed

[2018-10-03 18:19] asdonald commented on #133
@rangv A device group with no condition will select "all".

[2018-10-03 18:19] #133 closed

[2018-10-03 21:30] isaac73 commented on #122
@asdonald I'm currently into Edge work. I will be looking at this in about 2 weeks. Is that ok?

[2018-10-05 12:08] newlogics opened #137 "Adding a new simulated device resets the reported properties of all existing devices to default values"
# Type of issue
- [x] Bug
- [ ] New feature
- [ ] Improvement

# Description
Adding a new simulated device resets the reported properties of all existing devices to default values.

# Steps to reproduce

**1. First step**
Update latitude and longitude properties of a chiller.
Devices tab -> select a chiller (chiller-01.0)-> jobs -> reconfigure -> change latitude and longitude -> apply.
Once done c

[2018-10-08 08:04] developersenakim commented on #132
The example shows how to set the local setup in azure portal. For advanced customization, documentation on how to set up basic/ standard version on hub will really help.

[2018-10-08 18:10] asdonald commented on #132
@developersenakim Can you please clarify what is missing from the documentation? We recommend deploying these resources using the Arm templates and pcs cli or through iot suite (webui) this will automatically create those resources for you.

If you would like to deploy them manually, you can look at the Arm template in this: https://github.com/Azure/pcs-cli and deploy them each manually from what

[2018-10-08 18:10] #132 closed

[2018-10-08 18:28] asdonald opened #138 "Unable to deploy through webui in China"
# Type of issue
- [x] Bug
- [ ] New feature
- [ ] Improvement

# Description

From Customer:

Recently we received many request from different Incubation Center that they want to deploy our Remote Monitoring pre-configured solution on China Azure. But when I create this solution, the Region selection panel is blank (neither China North nor China East show up). This issue occurs for every account t

[2018-10-09 19:58] asdonald commented on #138
Closing due to being a subscription issue

[2018-10-09 19:58] #138 closed

[2018-10-10 18:28] asdonald commented on #122
@asdonald To go to the WebUI and link the duplicate issue here.

[2018-10-10 18:29] asdonald commented on #108
@asdonald To link back to the WebUI issue here.

[2018-10-10 18:46] hathind-ms commented on #137
@avanikp - I assigned this to you.

[2018-10-11 09:04] developersenakim commented on #132
when i am using pcs-cli it kinda automatically all deploying for the user. I wanted to down grade - or downsized some servers or change the storage type.

I think the pcs-cli link would help thanks.

[2018-10-11 19:42] asdonald commented on #136
@tudorian Closing due to no response. Please re-open if you still have any questions / issues.

[2018-10-11 19:42] #136 closed

[2018-10-24 21:36] aditidugar opened #139 "Devices page has stopped showing Firmware values"
# Type of issue
- [x] Bug
- [ ] New feature
- [ ] Improvement

# Description
Deployed a solution through solutions.com on 10/4/2018. At that time everything was showing correctly. Opened same solution on 10/24 and cannot see the Firmware version on the Devices page for any of the simulated devices.

# Screenshot
![image](https://user-images.githubusercontent.com/29984175/47463169-5113fd00-d79a-11e

[2018-10-26 13:53] gbbiotwesouth opened #140 "How can I deploy Remote Monitoring without using Times Series Insight?"
How can I deploy Remote Monitoring without using Times Series Insight, in other regions then China? My goal is to deploy RM without the use of TSI, as the customer doesn't want to use TSI. Is that possible?

[2018-10-27 13:35] gbbiotwesouth commented on #140
changes the env-vars file to represent:
export PCS_TELEMETRY_STORAGE_TYPE="cosmosdb"
and restarted
Now telemetry is reading from cosmosdb, but no messages end up in cosmosdb. All messages are still send to TSI. What do I need to change to ensure the telemetry is also send to cosmosdb?

[2018-10-28 13:08] gbbiotwesouth commented on #140
Found it. Adjust the ASA query by adding:
-- Output origin telemetry messages
SELECT
        CONCAT(T.IoTHub.ConnectionDeviceId, ';', CAST(DATEDIFF(millisecond, '1970-01-01T00:00:00Z', T.EventEnqueuedUtcTime) AS nvarchar(max))) as id,
        1 as [doc.schemaVersion],
        'd2cmessage' as [doc.schema],
        T.IoTHub.ConnectionDeviceId as [device.id],
        'device-sensors;v1' as [device.ms

[2018-10-28 13:08] #140 closed

[2018-10-31 20:48] avanikp commented on #137
This is a known issue - adding a simulated device will result in updating simulation record in the db and will restart simulation, hence all devices will be reset.
This issue is addressed with the Add/Delete API for adding/deleting specific simulated devices. With this change the service will not cause restart of simulation and should preserve existing device properties. The issue should be resolv

[2018-10-31 20:48] #137 closed

[2018-11-07 17:46] asdonald commented on #127
@sergaz-msft Closing as fixed in master. Please re-open if you are still seeing issue.

[2018-11-07 17:46] #127 closed

[2018-11-17 15:58] murdockcrc opened #144 "ETIMEDOUT error when provisioning Azure resources for local dev environment"
# Type of issue
- [X] Bug
- [ ] New feature
- [ ] Improvement

# Description
I am trying to setup the Azure resources to setup a local development environment.
When executing the file `start.cmd` on folder `services\scripts\local\launch`, the script starts to deploy services, but it eventually fails with the following error:
`- Deploying...Error: Long running operation failed with error: "connect

[2018-11-19 18:58] sakimsft opened #145 "Error: Oops, we were not able to find the service on dashboard after 200 simulated deivces added (standard RM)"
# Type of issue
- [x] Bug
- [ ] New feature
- [ ] Improvement

# Description
This issue is originally reported from the customer.
(Oleksandr Shkabura <Oleksandr.Shkabura@infopulse.com>)

Create standard RM via PCS CLI and then add 200 simulated devices.
Dashboard shows "Error: Oops, we were not able to find the service." due to below error.

HTTP404: NOT FOUND - The server has not found anything m

[2018-11-19 19:57] ppathan commented on #145
Duplicate of #108. Closing this and we are already working on the original bug.

[2018-11-19 19:57] #145 closed

[2018-11-20 07:47] AlexShkabura commented on #108
Is there are any estimates when those issue will be fixed?

[2018-11-20 13:15] prabgupta opened #146 "Web-Config file is publicly visible"
# Type of issue
- [x] Bug
- [ ] New feature
- [ ] Improvement

# Description
The "Web-Config" file is publicly visible from the endpoint : Url/webui-config.js

# Steps to reproduce
1. Hit the Url

[2018-11-20 15:30] molly-moen commented on #108
@AlexShkabura end of November

[2018-11-21 01:46] molly-moen commented on #108
@AlexShkabura these changes are all in master. They should be in the release coming at the end of the month

[2018-11-21 01:46] #108 closed

[2018-11-22 02:15] JetstreamRoySprowl opened #147 "Release tags are confusing"
The 1.0.2 release is marked as "latest" in the releases list, and the 2.0.0 release is lower in the list.
(Thank you for the new release!)

[2018-11-26 18:06] elvinm commented on #147
Thank you for the note. This has been fixed and correctly shows 2.0.0 as the latest release now.

[2018-11-26 18:06] #147 closed

[2018-11-27 05:08] #146 closed

[2018-11-28 23:21] mechaffin commented on #122
@anwarabidali Can you repro this issue again? Then please send us the error written to the console log in the dev tools so we can see which error is actually being encountered.

[2018-11-28 23:22] #122 closed

[2018-12-05 20:05] sushilraje commented on #139
Resolved in ADM

[2018-12-05 20:05] #139 closed

[2018-12-06 11:44] niklo666 opened #148 "Local deployment instruction is incomplete"
# Type of issue
- [ x ] Bug
- [ ] New feature
- [ x ] Improvement

# Description
The linked description on how to deploy locally doesn't work as mentioned scripts do not exit e.i.
start.cmd or start.sh script  located under launch (scripts/local/launch) folder.

# Screenshot

# Steps to reproduce

# Expected behavior
A complete and correct description of how to deploy locally.

# Current behavior

[2018-12-09 23:46] JetstreamRoySprowl opened #149 "Alerting and graphing break because the RM infrastructure does not respect iothub-creation-time-utc"
All of the telemetry reporting pieces in the remote monitoring system fail to respect the [`iothub-creation-time-utc`](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-messages-construct) value, and insist on assigning message times based only on when they are received by the Hub. That is a great default value if `iothub-creation-time-utc` has not been supplied, but it is a serious

[2018-12-12 22:48] molly-moen commented on #149
@JetstreamRoySprowl We are investigating the alerting portion of this. For graphing, you can configure your TSI instance to use iothub-creation-time-utc by updating the event source timestamp property name (it starts out as the default, which is the event enqueue time). Follow these instructions to do that: https://docs.microsoft.com/en-us/azure/time-series-insights/time-series-insights-how-to-add

[2018-12-14 00:54] molly-moen commented on #149
For ASA you would need to change this line in the query:
 FROM
        DeviceTelemetry T PARTITION BY PartitionId TIMESTAMP BY T.EventEnqueuedUtcTime
To the appropriate time variable. Since we cannot guarantee people will set the creation time we likely will not update the query, and for TSI we also cannot update for the generic deployment as we don't know if people will set this value for their d

[2018-12-14 00:54] #149 closed

[2018-12-24 13:59] murdockcrc opened #152 "Remove dependency on obsolete RegistryManager.GetDevicesAsync method"
# Type of issue
- [ ] Bug
- [ ] New feature
- [X] Improvement

# Description
`IoTHubManager.Services` depends on an obsolete method `GetDevicesAsync(int)`.
I propose to open a PR to remove this dependency, and to refactor the affected tests on class `DeviceTests.cs`

I have a fork which already fixes this, give me a heads up and I can submit a PR to this project.

[2019-01-15 18:06] ppathan commented on #152
@murdockcrc Thanks for your contribution. Please submit a PR and we will take a look.

[2019-01-15 21:10] murdockcrc commented on #152
@ppathan  I have noticed that the `DeviceServiceModel` returns the device's authentication keys by populating the property `Authentication`.

Since removing the method `GetDevicesAsync` means we don't access the devices in bulk from the registry any longer (and instead rely in the twin), I can populate most of the properties except the device's authentication keys.

Is it strictly necessary to ret

[2019-01-17 20:32] elvinm commented on #144
This may have been an intermittent issue at the time where some resources were not available. I was able to deploy multiple instances in different regions including West Europe as shown. Please reopen if you are still seeing issues.

[2019-01-17 20:32] #144 closed

[2019-01-17 21:01] elvinm commented on #152
The right way to move forward is that for bulk query calls we simply wouldn't retrieve the Authentication details because 1) They aren't needed in this use case (they are needed only when retrieving details for a particular device i.e. GetAsync(string id). 2) There wouldn't be a way to do it that performs optimally each device in the query result set would need a subsequent call to GetDeviceAsync.

[2019-01-18 10:21] murdockcrc commented on #152
@elvinm , yes, we would need to query every deviceId individually, which will not be performant for large batches of devices.
Removing the Authentication information would technically be a breaking change, since *perhaps* somebody already integrated with that API call and depends on that data. However, if you don't have anything against this approach, I will modify the response so that `DeviceServ

[2019-01-18 12:34] murdockcrc commented on #152
[Opened PR](https://github.com/Azure/remote-monitoring-services-dotnet/pull/222)

[2019-02-11 20:11] ppathan commented on #152
Fixed

[2019-02-11 20:11] #152 closed

[2019-02-11 20:11] ppathan commented on #126
Fixed. But will only work with the latest deployment.

[2019-02-11 20:11] #126 closed

[2019-02-11 20:11] ppathan commented on #134
Fixed

[2019-02-11 20:11] #134 closed

[2019-02-25 07:34] Krummelz commented on #140
Where did you find this information?

[2019-02-28 10:48] ckmani opened #153 "Unable to run device simulation service"
# Type of issue
- [ X] Bug
- [ ] New feature
- [ ] Improvement

# dotnet: error while loading shared libraries: /usr/lib/x86_64-linux-gnu/libstdc++.so.6: file too short
.

# Steps to reproduce
1. while initiating \services\device-simulation\scripts\docker\run.cmd it throws the error and i have followed all the mentioned steps from (https://docs.microsoft.com/en-us/azure/iot-accelerators/iot-accele

[2019-02-28 13:37] rishikeshpatel opened #154 "TypeError"
# Type of issue
- [x ] Bug

# Description
... When you try to filter the list of devices based on device group using DeviceGroupDropDown, it will work just fine in case if you select one of the option available in the select box. However when you try to  filter by typing in the keyword and press backspace key to clear what you just typed, it will produce a error saying "TypeError: cannot read prop

[2019-03-05 23:16] sushilraje commented on #153
@ckmani This looks like an error log from the container while device-simulation is booting up.
1. Did you build device simulation locally?
2. Can you try removing the device simulation container and image and retry the command?
3. Also, have you switched to Linux containers on docker for Windows

[2019-03-07 06:59] ckmani commented on #153
@sushilraje  its working now i have removed the container and added it again.But am unable to load the map component in the UI its throwing error.Is the following JS decommissioned ? https://atlas.microsoft.com/sdk/js/atlas.min.js?api-version=2.0
![map](https://user-images.githubusercontent.com/5591808/53937778-26389e80-40d4-11e9-95cb-c296cbb38332.png)

[2019-03-15 06:41] ckmani commented on #153
@sushilraje  any updates on the above

[2019-03-23 11:18] Dolphinsimon opened #157 "Any api documents like swagger?"
If we want to build our own web ui solutions based on Angular or get the device telemetry data in a Unity 3D ui. Where can I find the api reference documents ?

[2019-03-23 13:42] Dolphinsimon opened #158 "Can't set up Azure resources."
# Type of issue

- [x] Bug
- [ ] New feature
- [ ] Enhancement

# Description
Can't setting up Azure resources.
# Steps to reproduce

1. Run the /services/scripts/local/launch/start.sh in Ubuntu 18.04
2. Have you created required Azure resources (Y/N)? N
3. Setting up Azure resources.
Please update your node with version 8.11.3 or greater (but not version 10).
4. node -v  v8.15.1
![TIM截图2019032321

[2019-04-04 17:55] ppathan commented on #157
https://github.com/Azure/remote-monitoring-services-dotnet/wiki for dotnet
https://github.com/Azure/remote-monitoring-services-java/wiki for java

[2019-04-04 17:55] #157 closed

[2019-04-04 18:38] #154 closed

[2019-04-04 18:39] #153 closed

[2019-04-04 18:42] #148 closed

[2019-04-11 10:16] Rob-amrc opened #159 "Device Sim won't start correctly"
# Type of issue
- [X] Bug
- [ ] New feature
- [ ] Improvement

# Description
I've been trying to deploy locally for a few days now following this [guide](https://docs.microsoft.com/en-us/azure/iot-accelerators/iot-accelerators-remote-monitoring-deploy-local) but have had very little luck, whilst the services start in visual studio fine I have the following errors on the webservices:
[code]

The De

[2019-04-15 17:41] ppathan commented on #159
@sushilraje Can you please take a look?

[2019-05-03 14:37] raamanihilent opened #160 "Environment variables not found"
# Type of issue
- [ ] Bug
Tried following the document at
https://docs.microsoft.com/en-us/azure/iot-accelerators/iot-accelerators-remote-monitoring-deploy-local-docker

- [ ] New feature
- [ ] Improvement

# Description
docker-compose up command throws the below error
# Screenshot
![image](https://user-images.githubusercontent.com/49443975/57560197-1cccec00-733a-11e9-9a7f-07db052fce56.png)

# Ste

[2019-05-09 21:43] raamanihilent commented on #160
Thanks for the update Parvez.
@sushilraje

I am listing a few more items, which i encountered during my debugging by starting the services separately in a command prompt by using the run.cmd inside docker directory.

1) The container APIs are accessible from the browser. However they are not reached by the containers.
2) Some of the expected collections and values are not present in the Cosmos DB.

[2019-05-10 22:32] sushilraje commented on #160
@raamanihilent: I believe you need to run the `pcs -s local` command after `pcs login` but before `docker-compose up`. Please run that and let me know if it works.

[2019-05-10 22:53] raamanihilent commented on #160
@sushilraje
Thanks.
It did not help.
when i run the pcs -s local command, the command prompts to create Azure resources, which was already done by executing the start.cmd command from the documentation link provided earlier.

The following steps were followed and i could verify that the azure resources were created.
_Run the start.cmd script. The script prompts you for the following information:
A

[2019-05-11 01:17] sushilraje commented on #160
@raamanihilent:
 It seems that start.cmd didn't stamp the environment variables on your machine. I will try to repro this issue. But a quick fix would be to create following environment variables on your machine.
PCS_KEYVAULT_NAME
PCS_AAD_APPID
PCS_AAD_APPSECRET
Values for these variables would be
Go to your azure portal go to resource group (same as solution name)
keyvault-****
go to keyvault > s

[2019-05-11 01:36] raamanihilent commented on #160
@sushilraje
Thanks for the information.
It was set correctly by start.cmd command. I have verified this before creating the issue.
Here is my env snapshot.
![image](https://user-images.githubusercontent.com/49443975/57563400-5873b000-7352-11e9-8191-60c0b41551c4.png)
Will wait for your updates.

[2019-05-13 18:08] sushilraje commented on #160
@raamanihilent Which docker compose yaml file are you using?
azure-iot-pcs-remote-monitoring-dotnet\services\scripts\local   OR
azure-iot-pcs-remote-monitoring-dotnet\scripts\local

 You should be using the one underneath the services folder.

[2019-05-13 20:16] raamanihilent commented on #160
yes I ran the script from
azure-iot-pcs-remote-monitoring-dotnet\services\scripts\local

[2019-05-14 17:30] sushilraje commented on #160
Can you check foll,?
Does your docker-compose.yml file have foll structure especially it the highlighted environment varaibles.

  ********:
    image: azureiotpcs/********-dotnet:testing
 .........
    environment:
      - PCS_KEYVAULT_NAME
      - **PCS_AAD_APPID**
      - PCS_AAD_APPSECRET

Also, could you try deleting all the images from your local machine and try docker-compose up?

[2019-05-14 21:52] raamanihilent commented on #160
Yes and i deleted all the images, ran docker-compose up.
Did not work .
Will wait for your updates.

[2019-05-16 18:04] sushilraje commented on #160
Can you docker inspect on any of the containers and ensure that the variables are correct values are passed through?

[2019-05-17 00:59] sushilraje commented on #160
I tried it out locally, it did work for me.
Please do `docker inspect` and check if the required variables three variables
   PCS_AAD_APPID,
   PCS_AAD_APPSECRET,
   KEYVAULT_NAME
are getting passed along correctly as environment variables to the container.
Also, what is the tag of your containers?

[2019-05-17 14:44] raamanihilent commented on #160
Thanks Let me inspect and get back.

[2019-05-21 18:08] sushilraje commented on #160
@raamanihilent: Were you able to get any data around the issue?

[2019-05-21 20:28] raamanihilent commented on #160
@sushilraje Since you mentioned it worked for you locally, I am planning to redo the steps. Let me get back to you with my updates.

[2019-05-22 21:03] raamanihilent commented on #160
@sushilraje
As mentioned i cleaned up my environment.
Followed the steps again and tried docker-compose up. The local proxy was failing/erroed out.

I then stopped all my containers, started each container in a separate window and inspected them.
I could verify the following environment variables set via docker inspect
                "PCS_KEYVAULT_NAME=",
                "PCS_AAD_APPID=",

[2019-05-29 04:31] ac2707 commented on #160
cannot start the microservices as well - any leads on this ?

![image](https://user-images.githubusercontent.com/49182510/58529494-a57fcf00-81f8-11e9-83c1-bce41f883cb7.png)

[2019-05-29 04:58] ac2707 commented on #160
Also can you provide more details for the deploy with VS Code -
Deploy all other microservices on local machine
Open the azure-iot-pcs-remote-monitoring-dotnet module from your local copy in VS Code.
Copy the files launch.json and tasks.json from scripts\local\launch\idesettings\vscode. Create a new folder azure-iot-pcs-remote-monitoring-dotnet.vscode and paste the files there.
**Open the Debug pa

[2019-05-29 06:06] ac2707 commented on #160
The microservices don't start when doing a docker compose up either - screenshot below
Can you please add on more steps here to have it running. Thanks.

![image](https://user-images.githubusercontent.com/49182510/58533376-f5b15e00-8205-11e9-9452-4d3957c644ca.png)

[2019-06-03 23:04] sushilraje commented on #160
@raamanihilent @ac2707 I am extremely sorry for the delayed response.

[2019-06-03 23:04] sushilraje commented on #160
@raamanihilent: We do need to mount a directory containing nginx.conf file on to the docker container.
If you are using Windows, you will need to give permissions to docker daemon.
Open your docker console > settings > Shared Drives > Select your drives > Apply

[2019-06-03 23:14] sushilraje commented on #160
@ac2707 sn

This is actually working. The logs are **not Error** level but **warnings**. Here microservices are trying to inherit env variables. As a first step, the services try to inherit files from local env, if not found then the services go to key-vault. Since you have given key-vault credentials, the services will get the variables/secrets from key-vault.

[2019-06-03 23:30] sushilraje commented on #160
In your file **launch.json from scripts\local\launch\idesettings\vscode**, do you see **"compound"** section with name **"Run all Microservices"** as [here](https://github.com/Azure/remote-monitoring-services-dotnet/blob/master/scripts/local/launch/idesettings/vscode/launch.json)

[2019-06-03 23:37] sushilraje commented on #160
This is a different issue than just provisioning. Can you open up a new issue? In that please add foll. details

1. o/p of `docker ps`
2. o/p of `docker ps -a`
3. Complete logs of
    1. UiConfig/Config
    2.  Device Simulation
    3.  Storage Adapter microservices,
 preferably as files

[2019-06-06 22:31] sushilraje commented on #159
This is an error if auth is not enabled. It is perfectly ok.

[2019-06-06 22:32] #159 closed

[2019-06-06 22:33] sushilraje commented on #160
@raamanihilent & @ac2707  Do let me know if you face any further issues.

[2019-06-07 05:17] ac2707 commented on #160
Device simulation --
![image](https://user-images.githubusercontent.com/49182510/59082626-acea5b00-8911-11e9-880b-f94acf3ddf95.png)

[2019-06-07 05:33] ac2707 commented on #160
The command prompts and the web browser windows close, unable to  run the microservices from Visual studio..
debug output log in Visual studio below -

![image](https://user-images.githubusercontent.com/49182510/59083164-e45a0700-8913-11e9-99d7-8c5b592f7502.png)

[2019-06-26 15:35] VJReDdy opened #162 "Remote Monitoring local deployment not working - Device Simulation service"
# Type of issue
- [ ] Bug
Device simulation service (running in docker for Windows) throws an exception that... not able to reach Storage Service.
- [ ] New feature
- [ ] Improvement

# Description
Trying to setup local instance of Remote Monitoring application.
Followed the steps mentioned in...
All the services (except Device Simulation) are started in debug mode in Visual Studio 2017.
Device si

[2019-06-26 15:41] VJReDdy commented on #162
Followed steps mentioned in...
https://docs.microsoft.com/en-us/azure/iot-accelerators/iot-accelerators-remote-monitoring-deploy-local

[2019-07-02 11:08] VJReDdy commented on #162
Any update on this defect? please update. Thanks.

[2019-07-11 09:21] kalyanb9119 commented on #144
I am getting same issue continuously

`2019-07-11T09:10:23.815 INFO d:\a\1\s\publish\deployui.js:40 Running ARM template validation before deploying resources
2019-07-11T09:10:31.061 INFO d:\a\1\s\publish\deployui.js:98 ✓ ARM template Deployment validation succeeded.

2019-07-11T09:10:31.061 INFO d:\a\1\s\publish\deployui.js:40
2019-07-11T09:17:15.477 ERROR d:\a\1\s\publish\datahubdeployment.js:23

[2019-07-30 23:03] jlian commented on #114
To folks finding this now: we published a doc on this subject https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-understand-ip-address

[2019-08-08 08:45] Trinakriae opened #163 "What's the value of REACT_APP_BASE_SERVICE_URL to deploy locally?"
# Type of issue
- [x] Bug
- [ ] New feature
- [ ] Improvement

# Description
In order to deploy the solution locally, it is not specified in the [documentation](https://docs.microsoft.com/en-us/azure/iot-accelerators/iot-accelerators-remote-monitoring-deploy-local) what's the value of the environment variable REACT_APP_BASE_SERVICE_URL in the WebUI. I tried to put http://localhost:9000 since I was

[2019-08-09 04:17] akashlomas commented on #162
I am facing the same issue, I would appreciate help on the possible solution to this issue.

[2019-08-13 05:21] Alberto-Vega-MSFT commented on #163
@Trinakriae Have you tried the steps listed here: https://docs.microsoft.com/en-us/azure/iot-accelerators/iot-accelerators-remote-monitoring-customize#prepare-a-local-development-environment-for-the-ui

[2019-08-14 05:30] Alberto-Vega-MSFT commented on #163
Can you confirm that you followed this step? https://docs.microsoft.com/en-us/azure/iot-accelerators/iot-accelerators-remote-monitoring-deploy-local#configure-and-run-nginx

[2019-08-14 20:11] andrewschmidt-a opened #164 "Fork or Contribute?"
# Type of issue
- [ ] Bug
- [x] New feature
- [x] Improvement

# Description
...
I work at 3M company and we are building out IoT Solutions.
We wanted to build a version of this project that would be multi-tenanted.(with true isolation) This is such a big change and would result in a massive PR.
Is this something we ought to just Fork and diverge? Or is it something that this project may be intere

[2019-08-15 02:56] Alberto-Vega-MSFT commented on #163
@Trinakriae do you have an update?

[2019-08-15 16:18] Trinakriae commented on #163
Yes I’ve followed the steps listed in that article and the mentioned environment variable does not get set

[2019-08-17 02:02] Alberto-Vega-MSFT commented on #163
@Trinakriae please reach out so we can get you help from a support engineer. If you don't have access to a support plan follow the instructions on my previous comment and we can help get a one time free support ticket.

[2019-09-23 05:26] ByteCode2408 opened #165 "Missing icon fonts!"
# Type of issue
- [X ] Bug
- [ ] New feature
- [ ] Improvement

# Description
https://static.azureiotcentral.com/ux/static/media/segmdl2.1.61.38af5f02.woff and
https://static.azureiotcentral.com/ux/static/media/segmdl2.1.61.35c95dc2.ttf required in Web UI are missing since few days!

[2019-10-06 08:07] fahadashrafi commented on #160
Any Solution Found for starting microservices ???

[2019-10-09 11:38] coder-encoder opened #166 "Simulation No Started. Error "Failed to seed default simulations ""
Greetings, I have deployed the solution locally via documentation https://docs.microsoft.com/en-gb/azure/iot-accelerators/iot-accelerators-remote-monitoring-deploy-local-vscode

Ones I run All microservices in vs code i counter this issue.

[DEBUG][HttpClient:SendAsync] Sending request, {"httpMethod":{"Method":"GET"},"Uri":"http://localhost:9003/v1/simulations/1","Options":{"EnsureSuccess":false,"

[2019-10-15 22:36] BeigeBadger commented on #165
I am also encountering this issue. The error I get is:

[code]

and

[code]

Trying to browse to https://static.azureiotcentral.com/ux/static/media/segmdl2.1.61.38af5f02.woff directly asks me to authenticate with my MS account details, then returns a 404 error.

The above error about not being able to access the fonts occurs on my local machine, and in a hosted environment (Azure App Service).

Le

[2019-10-16 00:18] BeigeBadger commented on #165
So I managed to fix this by downloading the font from the link provided on [this page](https://docs.microsoft.com/en-us/windows/uwp/design/style/segoe-ui-symbol-font#how-do-i-get-this-font).

This only gets you the `.tff` file for the segmdl2 font though so I used [this site](https://convertio.co/ttf-woff/) to convert the `.tff` to a `.woff`.

I then added these files into the src\assets\fonts and

[2019-10-17 17:13] andrewschmidt-a commented on #165
I had the same issue. Looks like iotcentral changed fonts

[2019-10-18 05:49] ByteCode2408 commented on #165
Yes, I did the same by downloading and using the font locally. Thanks!

[2019-10-18 05:49] #165 closed

[2019-11-10 12:37] pauldj54 opened #168 "Error starting telemetry and storage adapter services"
# Type of issue
- [x ] Bug
- [ ] New feature
- [ ] Improvement

# Description
I cloned the latest version of the solution. Provision the resources on azure as described here [Deploy the Remote Monitoring solution accelerator locally - Docker](https://docs.microsoft.com/en-us/azure/iot-accelerators/iot-accelerators-remote-monitoring-deploy-local-docker).
I put the environment variables values in th

[2019-11-20 12:43] ritwikgiri opened #169 "Failed to disable authentication"
# Type of issue
- [x] Bug
- [ ] New feature
- [ ] Improvement

# Description
Failed to disable authentication following https://github.com/Azure/azure-iot-pcs-remote-monitoring-dotnet/wiki/Developer-Reference-Guide#disable-authentication. Seems the curl command **_keyvault_secret_bundle=$(curl -X PUT -H "Content-Type: application/json" -H "Authorization: Bearer $AUTH_TOKEN" -d "{\"value\": $2}"  -

[2019-11-25 11:58] anujsharrma commented on #166
I am also facing the same issue, any one have any resolution for this???????

[2019-11-27 10:46] anujsharrma commented on #168
Any updates on this i am also getting the same error.

[2019-12-05 17:29] csotomon commented on #169
I am having the same issue here, @ritwikgiri did you solved it?

[2019-12-06 07:08] ritwikgiri commented on #169
No still not resolved..

[2019-12-06 12:20] akingscote commented on #165
surely this shouldnt be closed until its fixed in the code

[2019-12-06 16:27] andrewschmidt-a commented on #165
Agreed. Isnt this project in maintenance mode?

Le ven. 6 déc. 2019, à 05 h 20, akingscote <notifications@github.com> a
écrit :

[2019-12-06 16:28] akingscote commented on #165
Oh right I didn't realize. Where did you see that? I've submitted a pull request regardless.

Sent from Workspace ONE Boxer

On 6 Dec 2019 16:27, Andrew Schmidt <notifications@github.com> wrote:
Agreed. Isnt this project in maintenance mode?

Le ven. 6 déc. 2019, à 05 h 20, akingscote <notifications@github.com> a
écrit :

—
You are receiving this because you commented.
Reply to this email directly

[2019-12-12 20:12] csotomon commented on #169
i found a problem with the script. in **set_env_vars function**, when is calling the **_set_keyvault_secret**, the second parameter must start and finish with a **"** becouse this parameter is used as a value in a JSON parameter

[code]

[2020-01-27 06:33] NoirRyu commented on #163
Any update on this? I have also same problem, whenever deploy on my Windows 10 local machine, the webui doesn't seem to properly communicate with other services. I also thought I need to set REACT_APP_BASE_SERVICE_URL variable to enable webui to communicate with other services.

[2020-01-29 10:47] ChristineChetty11 commented on #162
Same issue here

[2020-02-11 18:45] gdinatale91 commented on #169
Submitted what I think is the same issue on the dotnet microservices repo https://github.com/Azure/remote-monitoring-services-dotnet/issues/250 but got no response. Tried playing around with the start.sh script but didn't manage to fix this.

[2020-04-28 12:47] navidarry opened #171 "Run start.sh in linux machine"
# Type of issue
- [x] Bug
- [ ] New feature
- [ ] Improvement

# Description
In Linux for development locally, I ran `bash start.sh` in command line, below error occured:
`./start.sh: line 14: /home/navid/Projects/azure-iot-pcs-remote-monitoring-dotnet/services/scripts/local/launch/helpers/create-azure-resources.sh: Permission denied`

# Possible solution
in line 14, replace line with this:
`. $AP

[2020-04-28 12:57] navidarry opened #172 "Linux machine ./start.sh does not recongnize node version"
# Type of issue
- [x] Bug
- [ ] New feature
- [ ] Improvement

# Description
for development locally for testing, i ran `bash ./start.sh` but node version error occured whereas node v8.17.3 installed

# Context and Environment
*  Operating System: openSUSE Leap kernel 15.1 4.12.14-lp151.28.48-default x86_64 GNU/Linux

[2020-05-05 21:18] mikelid commented on #47
A workaround was posted at https://github.com/LucyBot-Inc/api-spec-converter/issues/132
$sudo npm install -g <<package>> --unsafe-perm=true --allow-root

[2020-08-04 22:26] magixus commented on #172
Hi,

I solved this by install `dos2unix` command line and convert `pcs` [node package files to unix files.](https://stackoverflow.com/questions/30344858/node-script-executable-not-working-on-mac-env-node-r-no-such-file-or-directo)
* I've installed `pcs` using ```yarn global add iot-solutions```
* So `pcs` node package (on my case) was installed on `$HOME/.config/yarn/global/node_modules/iot-soluti

[2020-08-04 22:32] magixus commented on #171
Hello,

I had the same issue and managed to fix it by simply run this command :

It would then prompt you to fill in project information.

![image](https://user-images.githubusercontent.com/7642058/89351796-a472e900-d6aa-11ea-861b-43106c789632.png)

[2020-08-04 22:58] magixus opened #173 "Error: Long running operation failed with error: "At least one resource deployment operation failed. Please list deployment operations for details. Please see https://aka.ms/DeployOperations for usage details"
# Type of issue
- [x] Bug
- [ ] New feature
- [ ] Improvement

# Description
I'm running ubuntu 20.04 LTS and tried to install remote monitoring locally with docker.
When I try to create `Azure resources` with `pcs` i get this error (twice till now)
...
✓ Provisioning State: Succeeded Resource Type: Microsoft.Devices/Iothubs/Iothubkeys
✕ Error: Long running operation failed with error: "At least o

[2020-10-18 13:22] alan0428a commented on #166
I am having the issue as well, any solution for this?
Thanks.

[2020-10-18 13:50] alan0428a opened #174 "Fail to deploy the remote monitoring solution accelerator locally with Docker"
# Type of issue
- [x] Bug
- [ ] Improvement
- [ ] New feature

# Description
I am following the instructions on[ IoT solutions accelerators documentation ](https://docs.microsoft.com/en-us/azure/iot-accelerators/iot-accelerators-remote-monitoring-deploy-local-docker). I've created Azure services through "start.cmd". But after I run "docker-compose up", some of the services run in my local docker l

[2020-12-09 18:47] #158 closed

[2020-12-09 18:47] #160 closed

[2020-12-09 18:48] miwolfms commented on #174
Note: As of December 10th 2020, Remote Monitoring solution accelerator is no longer supported. All supporting repositories have been archived.

[2020-12-09 18:48] #174 closed

[2020-12-09 18:48] miwolfms commented on #173
Note: As of December 10th 2020, Remote Monitoring solution accelerator is no longer supported. All supporting repositories have been archived.

[2020-12-09 18:48] #173 closed

[2020-12-09 18:48] miwolfms commented on #172
Note: As of December 10th 2020, Remote Monitoring solution accelerator is no longer supported. All supporting repositories have been archived.

[2020-12-09 18:48] #172 closed

[2020-12-09 18:49] miwolfms commented on #171
Note: As of December 10th 2020, Remote Monitoring solution accelerator is no longer supported. All supporting repositories have been archived.

[2020-12-09 18:49] miwolfms commented on #171
Note: As of December 10th 2020, Remote Monitoring solution accelerator is no longer supported. All supporting repositories have been archived.

[2020-12-09 18:49] #171 closed

[2020-12-09 18:49] miwolfms commented on #169
Note: As of December 10th 2020, Remote Monitoring solution accelerator is no longer supported. All supporting repositories have been archived.

[2020-12-09 18:49] #169 closed

[2020-12-09 18:49] miwolfms commented on #168
Note: As of December 10th 2020, Remote Monitoring solution accelerator is no longer supported. All supporting repositories have been archived.

[2020-12-09 18:49] #168 closed

[2020-12-09 18:50] miwolfms commented on #166
Note: As of December 10th 2020, Remote Monitoring solution accelerator is no longer supported. All supporting repositories have been archived.

[2020-12-09 18:50] #166 closed

[2020-12-09 18:50] miwolfms commented on #164
Note: As of December 10th 2020, Remote Monitoring solution accelerator is no longer supported. All supporting repositories have been archived.

[2020-12-09 18:50] #164 closed

[2020-12-09 18:50] miwolfms commented on #163
Note: As of December 10th 2020, Remote Monitoring solution accelerator is no longer supported. All supporting repositories have been archived.

[2020-12-09 18:50] #163 closed

[2020-12-09 18:51] miwolfms commented on #162
Note: As of December 10th 2020, Remote Monitoring solution accelerator is no longer supported. All supporting repositories have been archived.

[2020-12-09 18:51] #162 closed